---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSortedPosts } from "../../utils";
import PostList from "../../components/PostList.astro";

const posts = await getSortedPosts();
---

<BaseLayout>
  <main class="py-8 px-4 md:px-20">
    <PostList posts={posts} />
  </main>
</BaseLayout>
