---
import BaseLayout from "../layouts/BaseLayout.astro";
import ryoGif from "../assets/ryo.webp";
import { Image } from "astro:assets";
---

<BaseLayout>
  <main class="prose prose-lg md:prose-xl max-w-none flex flex-col-reverse md:flex-row px-4 md:px-8">
    <div class="flex-1">
      <h2>👋 Hi, There!</h2>
      <p>
        I'm Ikhlash Mulyanurahman A passionate and dedicated web developer
        specializing in backend development. With a keen interest in creating
        efficient and scalable solutions, I take pride in ensuring
        high-performance and reliable applications.
      </p>
      <p>
        I am always eager to stay updated with the latest trends and
        technologies. I believe in continuous learning and improvement to
        deliver cutting-edge solutions. On good days, I love to explore about
        technology especially on programming.
      </p>
    </div>
    <div class="flex-none flex justify-center">
      <Image
        src={ryoGif}
        width={ryoGif.width}
        height={ryoGif.height}
        alt="ryo yamada"
      />
    </div>
  </main>
</BaseLayout>
