---
import BaseLayout from "../layouts/BaseLayout.astro";
import youchanGif from "../assets/youchan.webp";
import { Image } from "astro:assets";
import { getSortedPosts } from "../utils";
import PostList from "../components/PostList.astro";
const posts = (await getSortedPosts()).slice(0, 3);
---

<BaseLayout>
  <main class="px-4 md:px-20 prose prose-lg md:prose-xl max-w-none">
    <div class="flex flex-col-reverse md:flex-row gap-0 md:gap-2">
      <section class="flex-1">
        <h2>👋 Hi, There!</h2>
        <p>
          I'm Ikhlash Mulyanurahman A passionate and dedicated web developer
          specializing in backend development. I am always eager to stay updated with the latest technologies and I really enjoy exploring new things in programming.
        </p>
        <p>
          Outside of Programming, I am a complete fan of music and anime. You'll probably find me recharging with my favorite Anime, exploring new sounds in Music, or diving into a side Programming project.
          To me, a "good day" is a mix of clean code, a great playlist, and maybe a few episodes of my current favorite series.
        </p>
      </section>
      <section class="flex-none flex justify-center">
        <Image
          src={youchanGif}
          alt="Youchan Hi!!"
          class="w-100 h-100 object-cover"
        />
      </section>
    </div>
    <div>
      <h3>Recent Posts</h3>
      <p>
        Actually, I dont write blog regularly but here are some of my latest
        posts.
      </p>
      <PostList posts={posts} />
    </div>
    <div>
      <h3>Playlists</h3>
      <p>
        Background processes that keep my focus at 100%. From Lo-Fi to
        high-energy tracks, here's what I'm bumping in my headphones while I'm
        coding.
      </p>
      <section class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <iframe
          style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/0ApQqVEHjwjOm4xMGraAhk?utm_source=generator"
          height="352"
          width="100%"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
        <iframe
          style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/0gZRQX42mwGfiQPwgKt1r5?utm_source=generator"
          height="352"
          width="100%"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </section>
    </div>
  </main>
</BaseLayout>
