---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import SeriesList from "../components/ProjectList.astro";

const series = await getCollection("project");
---

<BaseLayout title="All projects">
  <h1 class="text-black dark:text-white text-4xl pb-10">All Projects</h1>
  <SeriesList series={series} />
</BaseLayout>
