---
import ThemeIcon from "./themeIcon.astro";
---

<nav class="w-full lg:w-7/12 mx-auto flex justify-between py-5 px-5 lg:px-0">
  <a href="/" class="active:scale-95"
    ><h1 class="text-2xl font-bold dark:text-gray-300">Ikhlashmulya</h1></a
  >
  <div id="link" class="flex gap-3 me-3 mt-1 dark:text-gray-300">
    <a
      href="/projects"
      class={Astro.url.pathname.replace(/\//g, "") == "projects"
        ? "font-bold"
        : "hover:opacity-70"}>projects</a
    >
    <a
      href="/blog"
      class={Astro.url.pathname.replace(/\//g, "") == "blog"
        ? "font-bold"
        : "hover:opacity-70"}>blog</a
    >
    <ThemeIcon />
  </div>
</nav>
