body {
  background-color: #1f1f1f;
  font-family: "Source Sans 3", sans-serif;
}

h2 {
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;

}