---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../component/navbar.astro";
import LoadingIndicator from "astro-loading-indicator/component";
import { Debug } from "astro:components";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <LoadingIndicator color="#7e22ce" />
    <style>
      body {
        overflow-y: scroll;
      }
    </style>
  </head>
  <body class="bg-gray-100 dark:bg-gray-800">
    <Navbar />
    <div class="w-full lg:w-7/12 mx-auto dark:text-gray-100 px-5 lg:px-0">
      <slot />
    </div>
	<br>
  </body>
</html>
